.col-1 {
  width: $dropdown-col-size;
}

.col-2 {
  width: #{$dropdown-col-size * 2};
}

.col-3 {
  width: #{$dropdown-col-size * 3};
}

.col-4 {
  width: #{$dropdown-col-size * 4};
}

.col-5 {
  width: #{$dropdown-col-size * 5};
}

.col-6 {
  width: #{$dropdown-col-size * 6};
}

.col-7 {
  width: #{$dropdown-col-size * 7};
}

.col-8 {
  width: #{$dropdown-col-size * 8};
}

.col-9 {
  width: #{$dropdown-col-size * 9};
}

.col-10 {
  width: #{$dropdown-col-size * 10};
}

.col-11 {
  width: #{$dropdown-col-size * 11};
}

.col-12 {
  width: #{$dropdown-col-size * 12};
}
