@each $name, $color in $button-color {
    .filter-tag-#{$name} {
        display: flex;
        align-items: center;
        color: white;
        background: $color;
        border: none;
        height: 37px;
        justify-content: space-between;
        border-radius: 5px;
        min-width: 32px;
        padding: 0 20px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: .875rem;
        margin-right: 10px;
        i {
            margin-left: 15px;
            font-size: 20px;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background: darken($color, 10%);
        }
    }
  }