// Color
$color-main: #d04f4f;
$colog-grey: #e7e7e7;
$color-blue: #3282f7;
$color-green: #68d9a4;
$color-red: #ed6454;

// Color group
$button-color: ("blue": $color-blue, "green": $color-green, "red": $color-red);

// Dropdown
$dropdown-col-size: 223px;
